@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	color: var(--el-regularText);
	background: var(--blueGrey-50);
	/* font-family: var(--font-Nunito); */
  font-family: var(--font-Open-Sans);
  /* font-family: var(--font-Lora); */
  /* font-family: var(--font-Inter); */
  /* font-family: var(--font-Rubik); */
}

a {
	text-decoration: none;
}

*, *:before, *:after {
	box-sizing: border-box;
  
}


:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray: #A4A4A4;
	--gray-dark: #6C7077;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #6344DF;
	--red-light: #FEA291;
	--red: #FC836D;
	--green: #007B48;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans KR", sans-serif;
  --font-Nunito: 'Nunito', sans-serif;
  --font-Open-Sans: 'Open Sans', sans-serif;
  --font-Open-Lora: 'Lora', serif;
  --font-Open-Inter: 'Inter', sans-serif;
  --font-Open-Rubik: 'Rubik', sans-serif;

  --el-brandColor: #409EFF;
  --el-brandColor-1: #53a8ff;
  --el-brandColor-2: #66b1ff;
  --el-brandColor-3: #79bbff;
  --el-brandColor-4: #8cc5ff;
  --el-brandColor-5: #a0cfff;
  --el-brandColor-5: #b3d8ff;
  --el-brandColor-5: #c6e2ff;
  --el-brandColor-5: #a0cfff;

  --el-primaryText: #303133;
  --el-regularText: #606266;
  --el-secondaryText: #909399;
  --el-secondaryText-1: #e9e9eb;
  --el-secondaryText-2: #f4f4f5;
  --el-placeholderText: #C0C4CC;
  
  --el-baseBorder: #DCDFE6;
  --el-lightBorder: #DCDFE6;
  --el-lighterBorder: #EBEEF5;
  --el-extraLightBorder: #EBEEF5;

  --grey-50: #FAFAFA;
  --grey-100: #F5F5F5;

  --blueGrey-50: #ECEFF1;
}
